<ng-container *ngIf="fight != null">
    <div id="fight-characters" style="display: flex; gap: 1em">
        <div *ngFor="let character of fight.characters" class="fight-character-card card">
            <div class="card-section">
                <h5>{{ character.name }}</h5>
                <h6>{{ character.characterClass }} {{ character.level }}</h6>
                <div class="hp-bar">
                    <div style="width: {{ Math.floor(character.currentHealth / character.totalHealth * 100) }}%"
                         class="hp-fill">{{ character.currentHealth }} / {{ character.totalHealth }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fight-mobs" style="display: flex; gap: 1em; margin-top: 20px">
        <div *ngFor="let mob of fight.mobs" class="fight-mob-card card">
            <div class="card-section">
                <h5>{{ mob.name }}</h5>
                <h6>{{ mob.mobClass }} {{ mob.level }}</h6>
                <div class="hp-bar">
                    <div style="width: {{ Math.ceil(mob.currentHealth / mob.totalHealth * 100) }}%"
                         class="hp-fill">{{ mob.currentHealth }} / {{ mob.totalHealth }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ng-container *ngIf="usersTurn">
        <div style="display: flex; gap: 1em; margin-top: 20px">
            <div *ngFor="let skill of fight.skills" class="skill-icon">
                <img #imgRef [src]="skill.icon" alt="{{skill.name}}"/>
                <app-tooltip [target]="imgRef" content="{{skill.description}}"></app-tooltip>
            </div>
        </div>

        <div style="display: flex; gap: 1em; margin-top: 20px">
            <div>You have 16/16 action points left.</div>
            <div>
                <button class="button button-primary large">End Turn</button>
            </div>
        </div>
    </ng-container>

    <div *ngIf="fight.currentFightLogEntry !== null" id="current-turn">
        <h5>Your current turn</h5>
        <app-fight-log-entry [entry]="fight.currentFightLogEntry"></app-fight-log-entry>
    </div>
</ng-container>
