.hp-bar {
    background: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 20px;
    margin-top: 8px;
}

.hp-fill {
    background: darkred;
    height: 100%;
    text-align: center;
    color: #000;
    font-size: 0.9em;
    line-height: 20px;
}

.fight-character-card {
    width: 200px;
    padding: 10px;
    border: 1px solid #881288;
    border-radius: 3px;
}

.fight-mob-card {
    width: 200px;
    border: 1px #5e0000 solid;
    border-radius: 3px;
}

.fight-mob-card .card-section {
    padding: 10px;
}

#current-turn {
    margin-top: 10px;
    padding: 10px 10px 10px 30px;
    background: #e8e8e8;
}

.skill-icon {
    height: 60px;
    width: 60px;
    border: 2px #ccc double;
    border-radius: 4px;
}

.chosenSkill, .chosenMob {
    border: 1px red solid;
}