<app-top-buttons [buttons]="topButtons"></app-top-buttons>

<div class="row column">
  <h4 style="margin: 0;" class="text-center">MY GAMES</h4>
</div>

<hr>

<div class="row">
  <div class="large-12 columns">

      <app-game-list [games]="getMyGames()"></app-game-list>

      <div class="row show-all">Show all</div>
  </div>
</div>

<!--<br>-->

<!--<hr>-->
<!--<div class="row column">-->
<!--  <h4 style="margin: 0;" class="text-center">FAVOURITES</h4>-->
<!--</div>-->

<!--<hr>-->

<!--<div class="row">-->
<!--  <div class="large-12 columns">-->

<!--    <article>-->

<!--      <app-game-list [games]="getMyGames()"></app-game-list>-->

<!--     <div class="row show-all">Show al</div>-->

<!--    </article>-->

<!--  </div>-->
<!--</div>-->
