<div class="row column">
    <h4 style="margin: 0;" class="text-center" i18n>{{ 'I Have An Invitation' | translate }}</h4>
</div>

<hr>

<div class="row" *ngIf="!(canRegister|async)">You have no access to this page.</div>

<div class="row" *ngIf="(canRegister|async)">
    <p>Welcome to Trole Online! You have been invited by <b>{{ (invitation|async)?.sender?.name }}</b>. Please, fill the form below to register.</p>
</div>

<ng-container *ngIf="(canRegister|async)">
<app-register-form></app-register-form>
</ng-container>
