<div class="row">
  <form [formGroup]="pageForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <h3>Add Page</h3>
      <div class="form-field">
        <label>Name:</label>
        <input name="name"  formControlName="name"  type="text">
      </div>
      <div class="form-field">
        <label>Language: </label>
        <select name="language" formControlName="language">
          <option value="en">English</option>
          <option value="ru">Russian</option>
        </select>
      </div>
      <div class="form-field">
        <label>Path</label>
        <input type="text" formControlName="path">
      </div>
      <div class="form-field">
        <label>Content</label>
        <textarea style="height: 500px" formControlName="content"></textarea>
      </div>


    </fieldset>
    <div class="form-buttons">
      <button class="button button-primary" type="submit" [disabled]="!pageForm.valid">Submit</button>
    </div>


  </form>
</div>

