<div class="row">
  <form [formGroup]="form">
    <fieldset>
      <h3>New Episode</h3>
      <div class="form-field">
        <label>Name:</label>
        <input name="name" formControlName="name"  type="text">
      </div>
      <div class="form-field">
        <label>Image:</label>
        <input name="name" formControlName="image" type="text">
      </div>
      <div class="form-field">
        <label>Fandoms:</label>
        <div class="ng-autocomplete">
          <ng-autocomplete
            [data]="data"
            [searchKeyword]="keyword"
            placeholder="Select fandom"
            (selected)='selectEvent($event)'
            (inputChanged)='onChangeSearch($event)'
            (inputFocused)='onFocused($event)'
            [itemTemplate]="itemTemplate"
            [notFoundTemplate]="notFoundTemplate">
          </ng-autocomplete>

          <ng-template #itemTemplate let-item>
            <a [innerHTML]="item.name"></a>
          </ng-template>

          <ng-template #notFoundTemplate let-notFound>
            <div [innerHTML]="notFound"></div>
          </ng-template>
        </div>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button class="button button-primary"
              (click)="create()">Create</button>
    </div>
  </form>
</div>
