<div class="row">
  <form [formGroup]="episodeForm" (ngSubmit)="onSubmit()">
    <fieldset>
        @if(mode == 'edit') {
            <h3>Edit Episode {{episodeName}}</h3>
        } @else {
            <h3>New Episode in {{gameName}}</h3>
        }
      <div class="form-field">
        <label>Name:</label>
        <input name="name" formControlName="name"  type="text">
      </div>
      <div class="form-field">
        <label for="image">Image: </label>
        <input id="image" type="text" formControlName="image">
      </div>
      <div class="form-field">
        <label for="description">Description: </label>
        <textarea id="description" formControlName="description"></textarea>
      </div>


      <div class="form-field" formArrayName="characters">
        <h5>Characters:</h5>
          <div *ngFor="let character of characters.controls; let i=index">
                      <ng-autocomplete
                        [formControlName]="i"
                        [data]="dataCharacter"
                        [searchKeyword]="keywordCharacter"
                        placeholder="Select character"
                        (selected)='selectCharacterEvent()'
                        (inputChanged)='onChangeCharacterSearch($event)'
                        [itemTemplate]="itemTemplate"
                        [notFoundTemplate]="notFoundTemplate">
                      </ng-autocomplete>
        </div>
        <button type="button" (click)="addCharacter()">+ Add character</button>

      </div>
    </fieldset>
              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
    <div class="form-buttons">
      <button class="button button-primary" type="submit" [disabled]="!episodeForm.valid">Submit</button>
    </div>


  </form>
</div>
