<div id="push"></div>
<footer style="font-size: 0.8rem">
  <div class="expanded callout secondary">
<div class="row">
    <div class="large-4 columns">
      <h6>HELP</h6>
        <ul>
            <li><a href="#">Support</a></li>
        </ul>

    </div>

    <div class="large-4 columns">
        <h6>GENERAL</h6>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="#">News</a></li>
        </ul>
    </div>

    <div class="large-4 columns">
      <h6>LEGAL</h6>
        <ul>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms of Use</a></li>
        </ul>


    </div>
  </div>

    <div class="text-center">
        &#64; 2024 Trole Online
    </div>
  </div>
</footer>
