<footer>
  <div class="row expanded callout secondary">

    <div class="large-4 columns">
      <h5>BANNERS</h5>
      <div class="row small-up-4">
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
        <div class="column"><img class="thumbnail" src="https://placehold.it/75" alt="image of space dog"></div>
      </div>

    </div>

    <div class="large-4 columns">
      <h5>LINKS</h5>
      <span class="secondary label">About</span>&nbsp;
      <span class="secondary label">Support</span>
    </div>

    <div class="large-4 columns">
      <h5>DISCLAIMER</h5>
      <p>Everything on this site has been created for fun and only for fun.</p>
    </div>
  </div>
  <div class="text-center">Copyright &#64; 2024 Trole Online</div>

</footer>
