@for (game of (games | async); track game) {
<div class="row">
  <div class="large-3 columns">
    <p><img src="{{game.image}}" alt="image for article" alt="article preview image"></p>
  </div>
  <div class="large-6 columns">
    <h5>
<!--      <a href="/game/{{game.id}}" (click)="updateBreadcrumbs('/game/'+game.id, game.name)">{{game.name}}</a>-->
      <app-route-link [path]="'/game/'+game.id" [name]="game.name"></app-route-link>
      <span class="badge success">R</span></h5>
    <p>
            <span><i class="fi-fandom">
              @for (fandom of game.fandoms; track fandom) {
                <a href="/fandom/{{fandom.id}}">{{fandom.name}}</a>
              }
              </i>&nbsp;&nbsp;</span>
      <span><i class="fi-comments">
               @for (genre of game.genres; track genre) {
                 <a href="/fandom/{{genre.id}}">{{genre.name}}</a>
               }
            </i>&nbsp;&nbsp;</span>
      <span><i class="fi-media">
               @for (media of game.media; track media) {
                 <a href="/fandom/{{media.id}}">{{media.name}}</a>
               }
            </i>&nbsp;&nbsp;</span>
    </p>
    <p>{{game.description}}</p>
  </div>
  <div class="large-3 columns">
    <p>
      Total posts: {{ game.total_posts }}<br />
<!--      Unread posts in my games: 3</p>-->
    <div class="row">
      @for (character of game.my_characters; track character) {
        <img class="avatar-image" src="{{character.avatar}}" style="height: 40px" />
      }
    </div>
  </div>
</div>
  <hr />
}
