<div id="post-editor" [ngClass]="{'dark': editorMode == 'dark'}">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div *ngIf="post == null" class="post-form-characters">
            <ng-container *ngIf="characters | async as charArray">
                <ng-container *ngIf="charArray.length === 1; else multipleCharacters">
                    <app-placeholder-image
                            *ngFor="let character of charArray"
                            style="height:40px"
                            [src]="character.avatar"
                            [alt]="character.name" />
                </ng-container>
                <ng-template #multipleCharacters>
                    <a
                            *ngFor="let character of charArray"
                            (click)="chooseCharacter(character.id)">
                        <app-placeholder-image
                                style="height:40px"
                                [src]="character.avatar"
                                [alt]="character.name" />
                    </a>
                </ng-template>
            </ng-container>
        </div>
<!--        <app-editor-buttons [control]="postForm.controls['content']" [id]="'postEditor'" />-->
<!--        <textarea *ngIf="post == null"-->
<!--                style="height: 10rem"-->
<!--                id="postEditor"-->
<!--                type="text"-->
<!--                formControlName="content"-->
<!--        >-->
<!--    </textarea>-->
        <app-sceditor
                [format]="'bbcode'"
                [id]="'postEditor'"
                [height]="'100%'"
                [mode] = "editorMode"
                [content]="postContent"
        ></app-sceditor>
        <div class="form-buttons">
            <button
              style = "margin-top: 10px;"
                    class="button button-primary"
                    type="submit"
            >
                Submit
            </button>
        </div>
    </form>
      <div style="float: right; margin-top: 5px; margin-right: 30px;">
          <app-word-counter></app-word-counter>
      <app-draft-autosave
        *ngIf="opened"
        [editorOpened]="opened"
        [episodeId]="episodeId"
        [characterId]="Number(postForm.value['character'])"
        [sceditorId]="'postEditor'"></app-draft-autosave>
      </div>
</div>
