<div id="post-editor">
    <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
        <div class="post-form-characters">
            <ng-container *ngIf="characters | async as charArray">
                <ng-container *ngIf="charArray.length === 1; else multipleCharacters">
                    <img
                            *ngFor="let character of charArray"
                            style="height:40px"
                            [src]="character.avatar"
                            [alt]="character.name" />
                </ng-container>
                <ng-template #multipleCharacters>
                    <a
                            *ngFor="let character of charArray"
                            (click)="chooseCharacter(character.id)">
                        <img
                                style="height:40px"
                                [src]="character.avatar"
                                [alt]="character.name" />
                    </a>
                </ng-template>
            </ng-container>
        </div>
        <div id="post-buttons" class="tiny button-group" style="margin-top: 1rem">
            <a class="button hollow" (click)="insertTag('[b][/b]', 2)">b</a>&nbsp;
            <a class="button hollow" (click)="insertTag('[i][/i]', 2)">i</a>
            <a class="button hollow" (click)="insertTag('[u][/u]', 2)">u</a>
            <a class="button hollow" (click)="insertTag('[s][/s]', 2)">s</a>
            <a class="button hollow" (click)="insertTag('[img][/img]', 2)">img</a>
        </div>
        <textarea
                style="height: 10rem"
                id="postEditor"
                type="text"
                formControlName="content">
    </textarea>
        <div class="form-buttons">
            <button
                    class="button button-primary"
                    type="submit"
                    [disabled]="!postForm.valid">
                Submit
            </button>
        </div>
    </form>
</div>
