<header>
    <div class="top-bar">
        <div class="top-bar-left">
            <a routerLink="/">
                <h1>
                    <img src="logo.png" style="height: 50px; display: inline-block" /> TROLE ONLINE
                </h1>
            </a>
        </div>
        <div class="top-bar-right">
            <ul class="menu float-right">
                <ng-container *ngIf="sessionService.getUser() !== null; else loggedOut">
                    <li>
                        <a routerLink="/home">My Games</a>
                    </li>
                    <li>
                        <a routerLink="/settings">Settings</a>
                    </li>
                    <!-- Uncomment as needed -->
                    <!-- <li><a href="#">Profile</a></li> -->
                    <!-- <li><a href="#">Look for Game</a></li> -->
                    <li><a href="#">Log Out</a></li>
                </ng-container>
                <ng-template #loggedOut>
                    <li>
                        <a routerLink="/login">Log In</a>
                    </li>
                    <li> <a routerLink="/register">Register</a></li>
                </ng-template>
            </ul>
        </div>
    </div>
</header>
