<div class="row column">
  <h4 style="margin: 0;" class="text-center">Create New Character</h4>
</div>

<div class="row">
<ng-container *ngIf="formUpdate$ | async; else loading">
<ng-container *ngIf="characterSheetTemplate$ | async as characterSheet">

    <form [formGroup]="characterSheetForm" (ngSubmit)="onSubmit()">
      <div class="form-field" *ngFor="let field of characterSheet.fields">
      <label [for]="field.id">{{ field.field_name }}</label>

            <input *ngIf="field.type == 1" type="text"  [formControlName]="field.id" [id]="field.id" />

            <textarea *ngIf="field.type == 2" [formControlName]="field.id" [id]="field.id"></textarea>

            <select *ngIf="field.type == 3" [formControlName]="field.id" [id]="field.id">
                <option *ngFor="let option of field.options" [value]="option.id">{{ option.name }}</option>
            </select>

<!--            <input *ngIf="field.type == 4" type="radio" [formControlName]="field.id" [id]="field.id" />-->
<!--            <input *ngIf="field.type == 5" type="checkbox" [formControlName]="field.id" [id]="field.id" />-->

        <div class="field-description">
            {{ field.description }}
        </div>
    </div>

        <button class="button success" type="submit">Create</button>
    </form>


</ng-container>
</ng-container>
<ng-template #loading>
    Loading...
</ng-template>
</div>
