<div class="row">
  @for ( message of messages; track $index) {
    <div class="row column">
      <div class="media-object">
        <div class="media-object-section">
          <a href="#">
            <div class="thumbnail">
              <h5>{{ message.user.username }}</h5>
              <img width="80px" src="{{message.user.avatar}}"/>
            </div>
          </a>
        </div>
        <div class="media-object-section" style="white-space: pre-line">
          {{ message.text }}
        </div>
      </div>
    </div>
  }
</div>

<div class="row">
  <div>
    {{user?.username}}
  </div>
  <div>
    <textarea [(ngModel)]="newMessage" placeholder="Enter your message"></textarea>
    <button (click)="sendMessage()">Send</button>
  </div>
  <div>
  </div>
</div>
