<div class="row">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <h3>New Game</h3>
      <div class="form-field">
        <label>Name:</label>
        <input name="name" formControlName="name"  type="text">
      </div>
      <div class="form-field">
        <label>Image:</label>
        <input name="name" formControlName="image" type="text">
      </div>
    <div class="form-field">
      <label for="description">Description: </label>
      <textarea id="description" formControlName="description"></textarea>
    </div>

      <div class="form-field">
        <label for="rating">Rating: </label>
        <select id="rating" formControlName="rating">
          @for (rating of dataRating; track rating.id) {
            <option value="{{rating.id}}">{{rating.name}}</option>
          }
        </select>
      </div>

      <div class="form-field">
        <label for="status">Status: </label>
        <select id="status" formControlName="status">
          @for (status of dataStatus; track status.id) {
            <option value="{{status.id}}">{{status.name}}</option>
          }
        </select>
      </div>

      <div class="form-field">
        <label for="access_level">Access Level: </label>
        <select id="access_level" formControlName="access_level">
          @for (access_level of dataAccessLevel; track access_level.id) {
            <option value="{{access_level.id}}">{{access_level.name}}</option>
          }
        </select>
      </div>


    <div class="form-field" formArrayName="fandoms">
      <h5>Fandoms:</h5>
      <div *ngFor="let fandom of fandoms.controls; let i=index">
        <ng-autocomplete
          [formControlName]="i"
          [data]="dataFandom"
          [searchKeyword]="keywordFandom"
          placeholder="Select fandom"
          (selected)='selectFandomEvent($event)'
          (inputChanged)='onChangeFandomSearch($event)'
          [itemTemplate]="itemTemplate"
          [notFoundTemplate]="notFoundTemplate">
        </ng-autocomplete>
      </div>
    </div>


    <div class="form-control">
      <button type="button" (click)="addFandom()">+ Add fandom</button>
    </div>

      @if (fandom_other) {
        <div class="form-field" formArrayName="genres">
          <h5>Original genres:</h5>
          <div *ngFor="let genre of genres.controls; let j=index">
            <select id="genre-{{j}}" formControlName="{{j}}">
              @for (genreOption of dataGenre; track genreOption.id) {
                <option value="{{genreOption.id}}">{{genreOption.name}}</option>
              }
            </select>
          </div>
        </div>

        <div class="form-control">
          <button type="button" (click)="addGenre()">+ Add genre</button>
        </div>
      }

        <div class="form-field" formArrayName="languages">
            <h5>Languages:</h5>
            <div *ngFor="let language of languages.controls; let k=index">
                <select id="language-{{k}}" formControlName="{{k}}">
                    @for (languageOption of dataLanguage; track languageOption.id) {
                        <option value="{{languageOption.id}}">{{ languageOption.name }}</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-control">
            <button type="button" (click)="addLanguage()">+ Add language</button>
        </div>


    </fieldset>
    <ng-template #itemTemplate let-item>
      <a [innerHTML]="item.name"></a>
    </ng-template>

    <ng-template #notFoundTemplate let-notFound>
      <div [innerHTML]="notFound"></div>
    </ng-template>
    <div class="form-buttons">
      <button class="button button-primary" type="submit" [disabled]="!form.valid">Submit</button>
    </div>
  </form>
</div>
