<header>
  <!-- Sub Navigation -->
  <div class="top-bar">
    <div class="top-bar-left">
      <h1><img src="logo.png" style="height: 50px; display: inline-block" /> TROLE ONLINE</h1>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a routerLink="/home">My Games</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">Look for Game</a></li>
        <li><a href="#">Create Game</a></li>
        <li><a href="#">Exit</a></li>
      </ul>
    </div>
  </div>
  <!-- /Sub Navigation -->
</header>
