<nav aria-label="Pagination" class="text-center">
    <ul class="pagination">
        <li class="pagination-previous">
            <button (click)="changePage(currentPage - 1)"
                    [disabled]="currentPage === 1"
                    aria-label="Previous page">Previous <span class="show-for-sr">page</span>
            </button>
        </li>

<!--        <li><span>Page {{ currentPage }} of {{ totalPages }}</span></li>-->
        <li *ngFor="let page of pagesToRender">
                <button *ngIf="page.page !== null" (click)="changePage(page.page)">{{page.name}}</button>
                <span *ngIf="page.page == null">{{page.name}}</span>
        </li>

        <li class="pagination-next">
            <button (click)="changePage(currentPage + 1)"
                    [disabled]="currentPage === totalPages"
                    aria-label="Next page">Next <span class="show-for-sr">page</span>
            </button>
        </li>
</ul>
</nav>
