<ng-container *ngIf="episodes$ | async as episodeArray">
 <ng-container *ngIf="episodeArray.length > 0; else noEpisodes">
<div class="row" >
    <table>
        <thead>
        <tr>
            <th style="width: 10%">Status</th>
            <th>Title</th>
            <th style="width: 20%">Characters</th>
            <th style="width: 20%">Last Post</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let episode of episodeArray">
            <td [ngSwitch]="episode.status">
              <span class="label success" *ngSwitchCase="'Ongoing'"> {{ episode.status }}</span>
              <span class="label primary" *ngSwitchCase="'Finished'"> {{ episode.status }}</span>
              <span class="label secondary" *ngSwitchCase="'Archived'"> {{ episode.status }}</span>
              <span class="label ongoing disabled" *ngSwitchCase="'Pending'"> {{ episode.status }}</span>
            </td>
            <td>
                <h5>
                  <a routerLink="/episode/{{ episode.id }}">{{episode.name}}</a>
                  <span class="badge" *ngIf="episode.is_mine">mine</span>
                </h5>
            </td>
            <td>
                <ul>
                    <li *ngFor="let character of episode.characters">
                        <a [href]="'/character/' + character.id">{{ character.name }}</a>
                    </li>
                </ul>
            </td>
            <td>
                {{ episode.last_post_date }} - {{ episode.last_post_author?.name }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
 </ng-container>
</ng-container>
<ng-template #noEpisodes>
  <div class="row text-center">
  No episodes so far
  </div>
</ng-template>
