<app-top-buttons [buttons]="topButtons"></app-top-buttons>

<div class="row column">
    <h4 style="margin: 0; text-transform: uppercase" class="text-center">{{ (game$ | async)?.name }}</h4>
</div>

<hr>

<div class="row">
    <div class="column large-4">
        <img [src]="(game$ | async)?.image" style="max-height: 400px"/>
    </div>
    <div class="column large-8">
        <div>
            <ng-container *ngIf="(game$ | async)?.fandoms">
                <span *ngFor="let fandom of (game$ | async)?.fandoms" class="label primary">{{ fandom.name }}</span>&nbsp;
            </ng-container>
            <br/>
            <ng-container *ngIf="(game$ | async)?.genres">
                <span *ngFor="let genre of (game$ | async)?.genres" class="label success">{{ genre.name }}</span>
            </ng-container>
        </div>
        <div>
            {{ (game$ | async)?.description }}
        </div>
        <div class="footer">
            {{ (game$ | async)?.total_episodes }} episodes <br/>
            {{ (game$ | async)?.total_posts }} posts
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="large-3 column">
      <a class="button expanded" routerLink="/character-list/{{(game$ | async)?.id }}">Character List</a>
    </div>
    <div class="large-3 column">
      <a class="button expanded" routerLink="/article/{{(game$ | async)?.id }}">Articles</a>
    </div>
    <div class="large-3 column">
        <a class="button expanded disabled" href="#">Wanted</a>
    </div>
    <div class="large-3 column">
        <a class="button expanded success disabled" href="#">Chat room</a>
    </div>
</div>

<br/>

<div class="row column">
    <h4 style="margin: 0;" class="text-center">EPISODES</h4>
</div>

<hr>

<app-episode-list></app-episode-list>
