<ng-container *ngIf="game$ | async as game; else loading">
<app-top-buttons [buttons]="topButtons"></app-top-buttons>

<div class="row column">
    <h4 style="margin: 0; text-transform: uppercase" class="text-center">{{ game.name }}</h4>
</div>

<hr>

<div class="row" style="display: flex">
    <div class="column large-4">
        <app-placeholder-image [src]="game.image" style="max-height: 400px"/>
    </div>
    <div class="column large-8" style="display: flex; flex-direction: column; align-self: stretch;">
        <div>
            <ng-container *ngIf="game.fandoms">
                <span *ngFor="let fandom of game.fandoms" class="label primary">{{ fandom.name }}</span>&nbsp;
            </ng-container>
            <br/>
            <ng-container *ngIf="game.genres">
                <span *ngFor="let genre of game.genres" class="label success">{{ genre.name }}</span>
            </ng-container>
          <br />
          <ng-container *ngIf="game.languages">
            <span *ngFor="let language of game.languages" class="label secondary">{{ language.name }}</span>
          </ng-container>
        </div>
      <br />
        <div style="flex-grow: 1">
            {{ (game$ | async)?.description }}
        </div>
        <div class="footer">
            {{ (game$ | async)?.total_episodes }} episodes <br/>
            {{ (game$ | async)?.total_posts }} posts
        </div>
    </div>
</div>

<hr>

<div class="row">
    <div class="large-3 column">
      <a class="button hollow expanded" routerLink="/character-list/{{ game.id }}">Character List</a>
    </div>
    <div class="large-3 column">
      <a class="button hollow expanded" routerLink="/article/{{ game.id }}">Articles</a>
    </div>
    <div class="large-3 column">
        <a class="button hollow expanded disabled" href="#">Wanted</a>
    </div>
    <div class="large-3 column">
        <a class="button hollow expanded success disabled" href="#">Chat room</a>
    </div>
</div>

<br/>

<div class="row column">
    <h4 style="margin: 0;" class="text-center">EPISODES</h4>
</div>

<hr>

<app-episode-list></app-episode-list>

    <div id="game-leave-alert" *ngIf="leaveAlert" class="reveal" data-reveal>
        <p>Are you sure you want to leave this game?</p>
        <p>This game will disappear from your game list. All you characters will become inactive, and other players will be able to take their roles.</p>
        <button class="button secondary float-left" (click)="leaveAlertCancel()">Cancel</button>
        <button class="button alert float-right" (click)="leaveGame()">OK</button>
    </div>
</ng-container>
<ng-template #loading>
  Loading...
  </ng-template>
