<div class="row">
  <form [formGroup]="characterForm" (ngSubmit)="onSubmit()">
    <fieldset>
      <h3>New Character</h3>
      <div class="form-field">
        <label>Name:</label>
        <input name="name" formControlName="name"  type="text">
      </div>
      <div class="form-field">
        <label for="avatar">Avatar: </label>
        <input id="avatar" type="text" formControlName="avatar">
      </div>
      <div class="form-field">
        <label for="description">Description: </label>
        <textarea id="description" formControlName="description"></textarea>
      </div>


    </fieldset>
    <div class="form-buttons">
      <button class="button button-primary" type="submit" [disabled]="!characterForm.valid">Submit</button>
    </div>


  </form>
</div>
